[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/ranjitis/Mainroad.git
[submodule "themes/Mainroad"]
	path = themes/Mainroad
	url = git@github.com:ranjitis/Mainroad.git
